<div *ngIf="video">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--10-col">
            <h2>{{video.name}}</h2>
        </div>
        <div class="mdl-cell mdl-cell--2-col">
            <button (click)="goBack()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                Go back
            </button>
        </div>
    </div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--8-col">
            <video autoplay controls>
                <source [src]="video.url" type="video/mp4">
            </video>
        </div>
        <div class="mdl-cell mdl-cell--4-col">
            <p>
                {{video.description}}
            </p>
        </div>
    </div>
</div>
